<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Staff Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class= "bg-image no-scroll" full screen="true">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
            
          <h4>Login</h4>
        </div>
        <div padding>
          <ion-item>
            <ion-icon name="contact">  </ion-icon>
            <div padding></div>
            <ion-input style="color: azure" type="text" placeholder="Username"></ion-input>
          </ion-item>
  
          <ion-item>
              <ion-icon name="lock"></ion-icon>
              <div padding></div>
            <ion-input style="color: azure"  type="password" placeholder="Password"></ion-input>
            <ion-icon name="eye" color="grey"></ion-icon>
          </ion-item>
        </div>
  
        <div padding>
          <ion-button size="large"  expand="block">Login</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
