<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Staff Dashboard
      </ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content padding >
   
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          Welcome {{userEmail}}!
        </ion-col>
      </ion-row>
     
    </ion-grid> 
    <ion-card>
      <ion-card-header>
        Booking List
      </ion-card-header>

      <ion-card-content>
    <ion-list>
 
      <ng-container *ngIf="!bookings || bookings.length == 0">
        <div *ngFor="let n of [0,1,2]" padding>
          <ion-skeleton-text></ion-skeleton-text>
          <p>
            <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
          </p>
        </div>
      </ng-container> 
   
      <ion-item-sliding  *ngFor="let booking of (bookings | async)">
        <ion-item >
          
          <ion-label>
            {{ booking.remarks }}
            <p>{{ booking.contactNo}}</p>
            <!-- <p>{{ item.createdAt | date:'short' }}</p> -->
          </ion-label>
          
          <ion-note slot="end" color="primary">{{ booking.session }}</ion-note>
        </ion-item>
   
        <ion-item-options side="end">
          <ion-item-option (click)="remove(item)" color="secondary">
            Check
            <ion-icon name="checkmark" slot="end"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list> 

    <!-- <ion-list>
      <ion-item button [routerLink]="['/staff-dashboard']" *ngFor="let booking of (bookings | async)">
        {{ booking.name }}
        <ion-note slot="end" color="primary">{{ booking.email }}</ion-note>
      </ion-item>
    </ion-list> -->
  </ion-card-content>
  </ion-card>
    
    
  </ion-content>
  
  <ion-footer (click)="logout()">
    <ion-toolbar color="primary">
      <ion-title>Log out</ion-title>
    </ion-toolbar>
  </ion-footer>
