<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Choose Facilities
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item (click)="buttonClick()">
  <ion-thumbnail slot="start">
    <img src="https://lh3.googleusercontent.com/p/AF1QipOt_iSNaLnr_u6c7fnUIl1gC-LzcM-qQuQ0DPUL=s1600-w400">
  </ion-thumbnail>
  <ion-label>
    MSC Stadium
  </ion-label>
</ion-item>

<ion-item (click)="buttonClick()">
    <ion-thumbnail slot="start">
      <img src="https://lh3.googleusercontent.com/p/AF1QipOt_iSNaLnr_u6c7fnUIl1gC-LzcM-qQuQ0DPUL=s1600-w400">
    </ion-thumbnail>
    <ion-label>
      MSC Multi Purpose Hall
    </ion-label>
</ion-item>

<ion-item (click)="buttonClick()">
    <ion-thumbnail slot="start">
      <img src="https://lh3.googleusercontent.com/p/AF1QipOt_iSNaLnr_u6c7fnUIl1gC-LzcM-qQuQ0DPUL=s1600-w400">
    </ion-thumbnail>
    <ion-label>
      MSC Volleyball Court
    </ion-label>
</ion-item>

<ion-item (click)="buttonClick()">
    <ion-thumbnail slot="start">
      <img src="https://lh3.googleusercontent.com/p/AF1QipOt_iSNaLnr_u6c7fnUIl1gC-LzcM-qQuQ0DPUL=s1600-w400">
    </ion-thumbnail>
    <ion-label>
      MSC Basketball Court
    </ion-label>
</ion-item>

<ion-item (click)="buttonClick()">
    <ion-thumbnail slot="start">
      <img src="https://lh3.googleusercontent.com/p/AF1QipOt_iSNaLnr_u6c7fnUIl1gC-LzcM-qQuQ0DPUL=s1600-w400">
    </ion-thumbnail>
    <ion-label>
      MSC Track and Field
    </ion-label>
</ion-item>

<ion-item (click)="buttonClick()">
    <ion-thumbnail slot="start">
      <img src="https://lh3.googleusercontent.com/p/AF1QipOt_iSNaLnr_u6c7fnUIl1gC-LzcM-qQuQ0DPUL=s1600-w400">
    </ion-thumbnail>
    <ion-label>
      MSC Swimming pool
    </ion-label>
</ion-item>

<ion-item (click)="buttonClick()">
    <ion-thumbnail slot="start">
      <img src="https://lh3.googleusercontent.com/p/AF1QipOt_iSNaLnr_u6c7fnUIl1gC-LzcM-qQuQ0DPUL=s1600-w400">
    </ion-thumbnail>
    <ion-label>
      MSC Futsal Court
    </ion-label>
</ion-item>

<ion-item (click)="buttonClick()">
    <ion-thumbnail slot="start">
      <img src="https://lh3.googleusercontent.com/p/AF1QipOt_iSNaLnr_u6c7fnUIl1gC-LzcM-qQuQ0DPUL=s1600-w400">
    </ion-thumbnail>
    <ion-label>
      MSC Badminton Court
    </ion-label>
</ion-item>

<ion-item (click)="buttonClick()">
    <ion-thumbnail slot="start">
      <img src="https://lh3.googleusercontent.com/p/AF1QipOt_iSNaLnr_u6c7fnUIl1gC-LzcM-qQuQ0DPUL=s1600-w400">
    </ion-thumbnail>
    <ion-label>
      MSC Tennis Court
    </ion-label>
</ion-item>

<ion-item (click)="buttonClick()">
    <ion-thumbnail slot="start">
      <img src="https://lh3.googleusercontent.com/p/AF1QipOt_iSNaLnr_u6c7fnUIl1gC-LzcM-qQuQ0DPUL=s1600-w400">
    </ion-thumbnail>
    <ion-label>
      FSC Swimming Pool
    </ion-label>
</ion-item>


</ion-content>