<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Choose Facilities
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="pushStadium()">
    <ion-img src="https://firebasestorage.googleapis.com/v0/b/test1-77191.appspot.com/o/football%20field.jpg?alt=media&token=b1492c76-c0af-4661-ac70-e52effd6fd49" >
    </ion-img>
    <ion-label>
      MSC Stadium
    </ion-label>
  </ion-card>

  <ion-card (click)="pushHall()">
    <ion-img src="https://firebasestorage.googleapis.com/v0/b/test1-77191.appspot.com/o/multipurpose%20hall%20msc.jpg?alt=media&token=cca4c401-7832-4ac4-b270-3e4af28d9a5a">
    </ion-img>
    <ion-label>
      MSC Multi Purpose Hall
    </ion-label>
  </ion-card>

  <ion-card>
    <ion-img src="https://firebasestorage.googleapis.com/v0/b/test1-77191.appspot.com/o/volleyball%20court.jpg?alt=media&token=4bfa5e19-3258-4ccd-a37c-c9aa9a3ddb30">
    </ion-img>
    <ion-label>
      MSC Volleyball Court
    </ion-label>
  </ion-card>

  <ion-card>
    <ion-img src="https://firebasestorage.googleapis.com/v0/b/test1-77191.appspot.com/o/basketball%20court.jpg?alt=media&token=f8d91939-1a4a-4127-a6c5-587c693df1b4">
    </ion-img>
    <ion-label>
      MSC Basketball Court
    </ion-label>
  </ion-card>

  <ion-card>
    <ion-img src="https://firebasestorage.googleapis.com/v0/b/test1-77191.appspot.com/o/track%20and%20field.jpg?alt=media&token=cf90e5a7-90cd-48a4-8d4a-646d75dddbcf">
    </ion-img>
    <ion-label>
      MSC Track and Field
    </ion-label>
  </ion-card>

  <ion-card>
    <ion-img src="https://firebasestorage.googleapis.com/v0/b/test1-77191.appspot.com/o/swimming%20pool%20msc.jpg?alt=media&token=07c182e6-e168-4759-a224-91a9d839852a">
    </ion-img>
    <ion-label>
      MSC Swimming Pool
    </ion-label>
  </ion-card>

  <ion-card>
    <ion-img src="https://firebasestorage.googleapis.com/v0/b/test1-77191.appspot.com/o/futsal%20court.jpg?alt=media&token=00c233be-50d2-4417-9e56-d288f5deff54">
    </ion-img>
    <ion-label>
      MSC Futsal Court
    </ion-label>
  </ion-card>

  <ion-card>
    <ion-img src="https://lh3.googleusercontent.com/p/AF1QipOt_iSNaLnr_u6c7fnUIl1gC-LzcM-qQuQ0DPUL=s1600-w400">
    </ion-img>
    <ion-label>
      MSC Badminton Court
    </ion-label>
  </ion-card>

  <ion-card>
    <ion-img src="https://lh3.googleusercontent.com/p/AF1QipOt_iSNaLnr_u6c7fnUIl1gC-LzcM-qQuQ0DPUL=s1600-w400">
    </ion-img>
    <ion-label>
      MSC Tennis Court
    </ion-label>
  </ion-card>

  <ion-card >
    <ion-img src="https://lh3.googleusercontent.com/p/AF1QipOt_iSNaLnr_u6c7fnUIl1gC-LzcM-qQuQ0DPUL=s1600-w400">
    </ion-img>
    <ion-label>
      FSC Swimming Pool
    </ion-label>
  </ion-card>


</ion-content>