<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Choose Facilities
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card routerLink= "/welcome">
    <ion-img src="https://lh3.googleusercontent.com/p/AF1QipOt_iSNaLnr_u6c7fnUIl1gC-LzcM-qQuQ0DPUL=s1600-w400">
    </ion-img>
    <ion-label>
      MSC Stadium
    </ion-label>
  </ion-card>

  <ion-card>
    <ion-img src="https://lh3.googleusercontent.com/p/AF1QipOt_iSNaLnr_u6c7fnUIl1gC-LzcM-qQuQ0DPUL=s1600-w400">
    </ion-img>
    <ion-label>
      MSC Multi Purpose Hall
    </ion-label>
  </ion-card>

  <ion-card>
    <ion-img src="https://lh3.googleusercontent.com/p/AF1QipOt_iSNaLnr_u6c7fnUIl1gC-LzcM-qQuQ0DPUL=s1600-w400">
    </ion-img>
    <ion-label>
      MSC Volleyball Court
    </ion-label>
  </ion-card>

  <ion-card>
    <ion-img src="https://lh3.googleusercontent.com/p/AF1QipOt_iSNaLnr_u6c7fnUIl1gC-LzcM-qQuQ0DPUL=s1600-w400">
    </ion-img>
    <ion-label>
      MSC Basketball Court
    </ion-label>
  </ion-card>

  <ion-card>
    <ion-img src="https://lh3.googleusercontent.com/p/AF1QipOt_iSNaLnr_u6c7fnUIl1gC-LzcM-qQuQ0DPUL=s1600-w400">
    </ion-img>
    <ion-label>
      MSC Track and Field
    </ion-label>
  </ion-card>

  <ion-card>
    <ion-img src="https://lh3.googleusercontent.com/p/AF1QipOt_iSNaLnr_u6c7fnUIl1gC-LzcM-qQuQ0DPUL=s1600-w400">
    </ion-img>
    <ion-label>
      MSC Swimming Pool
    </ion-label>
  </ion-card>

  <ion-card>
    <ion-img src="https://lh3.googleusercontent.com/p/AF1QipOt_iSNaLnr_u6c7fnUIl1gC-LzcM-qQuQ0DPUL=s1600-w400">
    </ion-img>
    <ion-label>
      MSC Futsal Court
    </ion-label>
  </ion-card>

  <ion-card>
    <ion-img src="https://lh3.googleusercontent.com/p/AF1QipOt_iSNaLnr_u6c7fnUIl1gC-LzcM-qQuQ0DPUL=s1600-w400">
    </ion-img>
    <ion-label>
      MSC Badminton Court
    </ion-label>
  </ion-card>

  <ion-card>
    <ion-img src="https://lh3.googleusercontent.com/p/AF1QipOt_iSNaLnr_u6c7fnUIl1gC-LzcM-qQuQ0DPUL=s1600-w400">
    </ion-img>
    <ion-label>
      MSC Tennis Court
    </ion-label>
  </ion-card>

  <ion-card>
    <ion-img src="https://lh3.googleusercontent.com/p/AF1QipOt_iSNaLnr_u6c7fnUIl1gC-LzcM-qQuQ0DPUL=s1600-w400">
    </ion-img>
    <ion-label>
      FSC Swimming Pool
    </ion-label>
  </ion-card>


</ion-content>