<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Welcome!
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="bg-image no-scroll" fullscreen="true">
      <ion-slides pager="true" >
          <ion-slide class="step-one">
            
              
            
           
              
            <div padding style="text-align:center;" class="show-list-numbers-and-dots">
                <div>
                    <ion-img src="../../assets/mustangs.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;"></ion-img>
                </div>

              <p style="color:#ffffff;">Welcome to IIUM Sport Facilities</p>
              
              <p style="color:#ffffff;">Online Booking System,</p>
              
              <p style="color:#ffffff;">please let us guide you</p>
              
              <p style="color:#ffffff;">on how to make a booking </p>
              
              <p style="color:#ffffff;">using this application.</p>
            </div>
              
          </ion-slide>
      
          <ion-slide class="step-two">
              
              <div padding style="text-align:center;" class="show-list-numbers-and-dots">
              <p style="color:#ffffff;">Booking Procedures
                <br/>1. Priority will be given to programmes organized by the university.
                <br/>2. Full payment must be made before the programme started. Booking will automatically cancel if the payment not has been made.
                <br/>3. Any cancellation of programme should be acknowledged to the Sports Development Centre seven(7) days prior to the actual date.
                <br/>4. SDC will bot be responsible for any injury / accident or lost of personal belongings before, during and after programmes.
                <br/>5. User will be responsible for any lost and damage of the facilities.
                <br/>6. Only pack food is allowed in sport complex. Always keep clean and litter in the bins provided.
                <br/>7. Users are requested to follow the rules and regulations and IIUM dress code set by SDC.
                <br/>8. SDC has the right to cancel the approval to use the facilities at anytime if the users failed to follow the rules and regulations of sports complex.
              </p></div>
          </ion-slide>
      
          <ion-slide class="step-three">
              
              <h1></h1>
              <p>AppsWorkflow
                <br/>Step1:Choose desired facilities
                <br/>
                <br/>Step2:Pick booking date
                <br/>
                <br/>Step3:Fill in booking details
                <br/>
                <br/>Step4:Done!
                <br/>
                <br/>Step5:Your confirmation details <br/>will be sent through email
                <br/>
                <br/>
                <br/>
                <ion-button routerLink="/facilities-list">FINISH !</ion-button>
              </p>
      
              
          </ion-slide>
      </ion-slides>
        
        
    
  </ion-content>
  